.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Opcional: Alinea verticalmente los elementos */
}

.container h4 {
    margin: 0;
    padding: 10px;
    color: #407603; /* Cambia el color de texto a tu preferencia, por ejemplo, rojo */
    font-size: 20px; /* Cambia el tamaño de la fuente a tu preferencia, por ejemplo, 24px */
    font-weight: bold
}

.container button {
    margin: 0;
    padding: 10px;
    margin-right: 4px;
    border-radius: 12px;
    background: linear-gradient(to right, #56682c, #728740, #9bb55f); /* Define los colores del degradado */
    color: #f2bb4d;
    font-weight: bold;
    border: 0;
}
