/* NavBar.module.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');

.container, .NavBar {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  max-width: 1000px;
  background: linear-gradient(to right, #e6ccb2, #ddb892, #b08968);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 12px;
  z-index: 1000;
  box-sizing: border-box; /* Ensures padding is included in the width calculation */
}

.navButton {
  background-color: #e8c9ab;
  padding: 10px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
}

.navButton:last-child {
  margin-right: 0;
}

.container input {
  border-radius: 8px;
  border: 0;
  margin: 0 10px;
  font-family: 'Poppins', sans-serif;
  font-size: large;
}

.container a,
.container a:hover {
  text-decoration: none;
  color: #7f5539;
}

/* Style for the main content */
.homeContainer {
  font-family: 'Poppins', sans-serif;
  color: #d08c60;
  min-height: 100vh;
  background-image: url('https://i.pinimg.com/originals/2f/90/a1/2f90a1f5cc13335232b9fb1dc9e8047c.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 130px;
  width: 100%;
}

.filterSortContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  gap: 0.5px; /* Reduced the gap between sorting and filters */
  border: 5px solid #56682c;
  border-radius: 12px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.7);
  width: calc(100% - 40px);
  box-sizing: border-box;
}

.content {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.446);
  border-radius: 12px;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.landing-body .homeContainer {
  background-image: none;
}
