@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');

.homeContainer {
    font-family: 'Poppins', sans-serif;
    color: #d08c60;
    min-height: 100vh;
    background-image: url('https://i.pinimg.com/originals/2f/90/a1/2f90a1f5cc13335232b9fb1dc9e8047c.jpg');
    background-size: cover; /* La imagen se estira para cubrir toda la pantalla */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fija la imagen de fondo */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 180px; /* Espacio adicional para la NavBar */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
}

.NavBar {
    z-index: 1000; /* Asegurar que la NavBar esté por encima de otros elementos */
    width: 100%; /* Asegura que la NavBar ocupe todo el ancho */
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
    display: flex;
    justify-content: center; /* Centra la NavBar */
    position: fixed; /* Fija la NavBar en la parte superior */
    top: 0; /* Posición en la parte superior de la página */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    padding: 20px; /* Relleno interno */
}

.filterSortContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    gap: 20px; /* Espacio entre Sorting y Filters */
    border: 5px solid #56682c; /* Agregar un borde para visualización */
    border-radius: 12px; /* Añadir bordes redondeados */
    padding: 15px; /* Agregar relleno */
    background: rgba(255, 255, 255, 0.7); /* Fondo semitransparente */
    width: calc(100% - 40px); /* Asegura que el contenedor ocupe todo el ancho menos el padding */
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
    margin: 250px auto 50px auto; /* Espacio superior para separarlo de la NavBar y centrarlo */
}

.content {
    text-align: center;
    width: 100%;
    max-width: 1200px; /* Para centrar y limitar el ancho máximo */
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.446); /* Fondo semitransparente para mejorar legibilidad */
    border-radius: 12px;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    text-shadow: 0 10px #ffcb69;
}

.landing-body .homeContainer {
    background-image: none;
}
