.head {
    /*background-image: url(https://i.pinimg.com/originals/2f/90/a1/2f90a1f5cc13335232b9fb1dc9e8047c.jpg);*/
    background-size: cover; /* Esto hace que la imagen cubra todo el contenedor */
    background-position: center; /* Esto centra la imagen */
    background-repeat: no-repeat; /* Esto evita que la imagen se repita */
    background-color: #b5c99a;
    border-radius: 12px;
    text-align: center;
    font-family: 'poppins', sans-serif;
    
    color: #d37b09;
    margin: 30px auto 0; /* Ajuste del margen superior */
    padding: 5px 0 10px; /* Ajuste del espacio interno, con menos padding superior */
   }   

.head h1 {
    text-shadow: none; /* Elimina la sombra del h1 */
}

.bold {
    font-weight: bold; /* Añade negrita */
}

.successMessage {
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    color: #ffffff;
    max-width: 420px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: rgba(0, 128, 0, 0.505);
    text-align: center;
}

.formContainer {
    font-family: 'poppins', sans-serif;
    color: #e79d3c;
    max-width: 400px;
    margin: 5px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #f9f9f9;
    border: 12px #b5c99a solid;
}

.formContainer input,
.formContainer select {
    font-size: large;
    color: #e79d3c;
    border: solid 1px #b5c99a;
    border-radius: 12px;
    position: relative;
    width: 90%;
    padding: 9px;
}

.formContainer button, .formContainer a {
    font-family: 'poppins', sans-serif;
    font-size: large;
    background-color: #b5c99a;
    color: #d37b09;
    cursor: pointer;
    border: 0;
    padding: 5px 9px;
    border-radius: 12px;
    margin-right: 5px;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s; /* Agrega una transición suave */
}

.formContainer button:hover, .formContainer a:hover {
    background-color: #97a97c; /* Cambia el color de fondo al pasar el cursor */
    color: #ffffff; /* Cambia el color del texto al pasar el cursor */
}

/* Estilos para los mensajes de error */
.errorMessage {
    color: #dc3545;
    font-size: 14px;
    padding-left: 10px;
}

/* Estilos para etiquetas */
.formLabel {
    font-weight: bold;
    padding: 10px;
}
