/* About.module.css */

.box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-size: cover;
  min-height: 80vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 800px;
  background-color: #ede0d4;
  border: none;
  border-radius: 3em;
  box-shadow: 20px 20px 30px rgb(243, 138, 89);
  margin: 8em;
}

.tittle {
  color: #87986a;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-align: center;
  margin-left: 25px;
  text-shadow: none; /* Ensure there's no text shadow */
}

.subtittle {
  font-size: 2.5em;
  text-align: center;
  color: #87986a;
  /* text-shadow: none; */ /* Ensure there's no text shadow */
}

.description {
  font-size: 1.5em;
  text-align: center;
  color: rgb(244, 96, 28);
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
  font-weight: bold;
}

.buttonContainer {
  text-align: center;
}

.buttonContainer button {
  background-color: #87986a;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.5em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonContainer button:hover {
  background-color: #d9ae94;
}
